<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
  {% csrf_token %}
  <input type="text" name="full_name" placeholder="ПІБ" class="form-control" required>
  <input type="text" name="phone" placeholder="Телефон" class="form-control" required>
  <input type="text" name="city_ref" placeholder="Ref міста" class="form-control" required>
  <input type="text" name="warehouse_ref" placeholder="Ref відділення" class="form-control" required>
  <input type="number" name="total_price" placeholder="Сума" class="form-control" required>
  <button type="submit" class="btn btn-primary">Оформити замовлення</button>
</form>

</body>
</html>