{% extends "main/base.html" %}
{% load static %}

{% block title %}Reverence Interlude - Cart{% endblock title %}

{% block content %}
    <h1 class="text-center mb-5">Корзина</h1>
    <div class="table-cart">
        <div class="table-head d-flex justify-content-between align-items-center">
            <div class="left-side-head fs-3 ps-5">
                <p class="table-p ">Товары</p>
            </div>
            <!--<div class="right-side-head d-flex gap-3">
                <p class="table-p c-item-total">Цена</p>
                <p class="table-p c-item-quantity">Количество</p>
                <p class="table-p c-item-price">Всего к оплате</p>
            </div> -->
        </div>
        <div class="table-items">
            {% if cart|length == 0 %}
                <div class="empty-cart-message d-flex flex-column justify-content-center align-items-center text-center">
                    <h3 class="mt-5 mb-5">Нет Добавленых товаров</h3>
                    <a href="{% url "main:catalog" %}" class="default-btn">Product list</a>
                </div>
            {% else %}
                {% for item in cart %}
                    <div class="cart-item d-flex justify-content-between align-items-center">
                        <div class="left-side-items d-flex">
                            <div class="c-item-img">
                                <img src="{{ item.item.image.url }}" alt="">
                            </div>
                            <div class="c-item-info">
                                <a href="{% url "main:item_detail" item.item.slug %}" class="item-name-in-cart p-3">{{ item.item.name }}</a>

                            </div>
                        </div>
                        <div class="right-side-items d-flex gap-3">
                            <!--<div class="c-item-price">-->
                            <!--    {{ item.total_price|floatformat:2 }}грн-->
                            <!--</div>  -->
                            <div class="c-item-quantity">

                                <form action="{% url "cart:cart_update" item.item.id %}" id="update-form-{{ item.item.id }}" method="post" class="c-quantity-form">
                                    {% csrf_token %}
                                    <div class="c-item-how">
                                    <input type="number" class="text-center" name="quantity" value="{{ item.quantity }}" min="1" required id="quantity-{{ item.item.id }}" oninput="updateCart({{ item.item.id }})">
                                    </div>

                                    <a href="{% url "cart:cart_remove" item.item.id %}" class="btn btn-danger mt-3">Удалить товар</a>
                                </form>
                            </div>
                            <div class="c-item-total">
                                {{ item.total_price|floatformat:2 }}грн
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if cart|length > 0 %}
        <div class="d-flex justify-content-center align-items-center gap-5 mt-5">
            <h3 class="mb-0">Общая цена товаров: {{ cart.get_total_price|floatformat:2 }} грн</h3>
            <a href="/orders/create" class="btn btn-success">Оформить заказ</a>
        </div>


    {% endif %}

    <script>
        let timeout = null;

        function updateCart(itemId) {
            clearTimeout(timeout); 

            timeout = setTimeout(function() {
                document.getElementById('update-form-' + itemId).submit();
            }, 1000);
        }
    </script>
{% endblock content %}