{% extends 'main/base.html' %}
{% load static %}

{% block title %}Реєстрація{% endblock title %}

{% block content %}
    <div class="register-cont d-flex flex-column align-items-center mx-auto">
        <h1 class="text-center mb-5">Реєстрація акаунта</h1>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.help_text }}
                {% for error in form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.help_text }}
                {% for error in form.password1.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.help_text }}
                {% for error in form.password2.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-outline-dark">Зареєструватися</button>
            <a href="/users/login/" class="btn btn-outline-dark">Вхід</a>
        </form>


        <!-- Блок уведомления -->
        <div x-data="{ showSuccess: {{ show_success|default_if_none:False|yesno:'true,false' }} }">
            <!-- Модальное окно успешной регистрации для пользователя -->
            <div x-show="showSuccess" x-transition
                 class="position-fixed top-50 start-50 translate-middle bg-white text-dark border rounded shadow-lg p-4"
                 style="z-index: 1055; width: 90%; max-width: 400px;" x-cloak>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="m-0">Реєстрацію завершено</h5>
                    <button @click="showSuccess = false; window.location.href='/'" class="btn-close"
                            aria-label="Закрити"></button>
                </div>
                <p class="mb-0">Ви успішно зареєструвалися!
                    Обов'язково запам'ятайте ваш пароль.
                    Тепер ви можете робити замовлення товарів!</p>

            </div>

            <!-- Белый тонированный фон -->
            <div x-show="showSuccess" x-transition.opacity
                 class="position-fixed top-0 start-0 w-100 h-100 bg-white bg-opacity-75"
                 style="z-index: 1050;" x-cloak></div>

            <div x-data="redirectAfterSuccess()"></div>
        </div>
    </div>

{% endblock content %}