{% extends 'main/base.html' %}
{% load static %}



{% block title %}Вхід{% endblock title %}

{% block content %}

<div class="profile-cont d-flex flex-column align-items-center">
    <h1 class="text-center mb-5">Профіль Користувача </h1>

            <ul class="list-unstyled text-center">

        <li class="mb-2 d-flex justify-content-center align-items-center gap-2">
            <strong>Ім'я:</strong> {{ user.first_name }}
            <button class="btn btn-outline-success btn-sm">Редагувати</button>
        </li>
        <li class="mb-2 d-flex justify-content-center align-items-center gap-2">
            <strong>Фамілія:</strong> {{ user.last_name }}
            <button class="btn btn-outline-success btn-sm">Редагувати</button>
        </li>
                <li class="mb-2 d-flex justify-content-center align-items-center gap-2">
            <strong>Email:</strong> {{ user.email }}
        </li>
    </ul>

        <a href="/users/logout/" class="btn btn-danger mt-3">Вихід з Акаунта Користувача</a>

</div>
{% endblock content %}