/*
m — отступ со всех сторон
mt — отступ сверху (margin-top)
mb — снизу (margin-bottom)
ms — слева (margin-start = left в LTR)
me — справа (margin-end = right в LTR)
mx — по горизонтали (влево и вправо)
my — по вертикали (вверх и вниз)

0   = 0px
1   = 0.25rem (≈ 4px)
2   = 0.5rem (≈ 8px)
3   = 1rem (≈ 16px)
4   = 1.5rem (≈ 24px)
5   = 3rem (≈ 48px)
auto = автоматический отступ
 */

html, body {
    padding-top: 70px;
    margin: 0;
    padding: 0;
    width: 100%;

}
main {
    display: flex;
    justify-content: center; /* центрируем содержимое по горизонтали */
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}



a {
    color: white;
    text-decoration: none;
}
li {
    list-style: none;
}

body1 {
    background-color: #ffffff;
    color: #fff;
    width: 1268px;
    height: 1000px;
}
header {
    margin-bottom: 40px;
    background: #2b2f32;

}

header.header {
    position: sticky;
    top: 0;
    z-index: 99999;

}


.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}



.site-logo {
    width: auto;
    height: 50px;
    max-height: 100%;
}



.container1 {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
    color: #121212;
}


/* СТИЛИ Для поиска--------------------------------------------------------------------------------------------------*/

.search {
    flex-grow: 1;
    min-width: 200px;
    max-width: 500px;
}
.search input {
    width: 100%;
}


.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    z-index: 10;
    border: 1px solid #ccc;
}
.autocomplete-results div {
    padding: 8px;
    cursor: pointer;
}
.autocomplete-results div:hover {
    background-color: #f0f0f0;
}







/* СТИЛИ ДЛЯ Catalog HTML--------------------------------------------------------------------------------------------------*/
.catalog {
    margin-batton: 50px;

}


.sidebar {
    width: 250px; /* ширина фильтра */
    padding: 20px; /* внутренние отступы */
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    min-height: 100vh; /* на всю высоту страницы */
    color: #121212;
    font-size: 12px;
    top: 0;
    overflow-y: scroll;
    height: 1300px;



}

.category-len{
    padding-left: 7px;
}


.price-range {
    display: flex;         /* размещает поля мин макс в ряд */
    gap: 10px;             /* расстояние между полями */
    align-items: center;   /* выравнивание по вертикали */
    width: 270px;          /* фиксированная ширина */
    padding-bottom: 20px;

}

.price-range input {
    width: 65px; /* длина поля */

}

.item-name-h4 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 1.1rem; /* при необходимости */
}




.price-head h4{
  width: 10px;
  height: 10px;
  background-color: black; /* или любой цвет */
  display: inline-block;
  margin-right: 8px; /* отступ справа, если перед текстом */
}


.product-list {    /* класс с сеткой товаров */
    flex-grow: 1;
    padding: 0px;
    width: 1268px;
    height: 1300px;


}
.card {
    width: 190px;
    height: 306px;
    margin: 1px;
    position: relative;
    overflow: hidden;

}
.cartc{
    position: absolute;   /*relative; /* position: absolute; */
    top: 270px;
    font-size: 10px;
    left: 130px;
    background: white;

}

.cartc img{
    width: 20px;
    height: 20px;
    background: white;

}

.item-image-cont {
    height: 195px;


}



.product-image {

    width: 190px;
    height: 210px;
    padding-top: 30px;
    padding-right: 3px;
    padding-bottom: 20px;
    padding-left: 3px;
}

.card-container d-flex flex-wrap{
    width: 100px;
    height: 140px;
}

.card-info h4{
    height: 30px;
    padding-top: -10px;
    padding-left: 5px;
    color: #121212;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;

}


.card-info p{
    padding-left: 20px;
    padding-top: 4px;

    font-size: 14px;
    color: #121212;
    text-decoration: none !important;
}

.price-block {
  font-size: 0.85rem;
  padding-left: 10px;
    padding-top: 12px;
}

.old-price-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.old-price {
  text-decoration: line-through;
  color: #6c757d; /* серый */
  font-size: 0.75rem;
}

.discount-badge {
  background-color: #dc3545; /* красный */
  color: white;
  font-size: 0.7rem;
  padding: 0.15em 0.4em;
  border-radius: 0.25rem;
}

/* НОВАЯ ЦЕНА */
.new-price {
  font-weight: 600;
  font-size: 0.95rem;
  padding-left: 5px;
  margin-top: -4px; /* чуть выше */
  color: black; /* по умолчанию — черный */
}

.new-price1 {
    margin-top: 7px;
font-weight: 600;
  font-size: 0.95rem;
  padding-left: 5px;

  color: black;

}
.price-block {
    margin-top: 0px;

}


/* Если есть скидка, перекрашиваем в красный */
.price-block .old-price-row + .new-price {
    color: #dc3545;
}


/* СТИЛИ ДЛЯ DETAIL HTML--------------------------------------------------------------------------------------------------*/

.detail-image {
    width: 500px;
    height: 700px;
    position: relative; /* я родитель, можно что-то внутри меня*/
}
.detail-description {
    color: #121212;
}

.prev-btn {
    position: absolute;
    left: 25px;
    top: 380px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.col-md-6.d-flex.flex-column > p {
    width: 100%;
}


.btv-p{
    position: absolute;
    margin-bottom: 6px;
    margin-right: 4px;
}

.next-btn {
    position: absolute;
    left: 480px;
    top: 380px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btv-n {
    position: absolute;
    margin-bottom: 6px;
    margin-left: 4px;
}

.img-fluid {
    height: 370px;


}





/* СТИЛИ ДЛЯ REGISTER HTML--------------------------------------------------------------------------------------------------*/

.errorlist {
    color: red;
}



/* СТИЛИ ДЛЯ Cart_Detail HTML--------------------------------------------------------------------------------------------------*/
.cart-item {
    height: 150px;
    border: 1px solid black;
    margin-bottom: 10px;
}



.c-item-img img {
    width: 120px;
    height: 120px;
    margin-left: 40px;
    margin-top: 3px;

}

.left-side-items {
    top: 20px;
}
.c-item-info a {
    color: black;


}
.c-quantity-form a{
    color: black;

}

.c-item-info {
    width: 500px;
    margin-left: 20px ;

}

.c-item-quantity {



}


