
body {
    background-color: #ffffff;
    color: #fff;
    width: 1268px;
    height: 1500px;
}


.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
    color: #121212;
}




/* СТИЛИ ДЛЯ Catalog HTML--------------------------------------------------------------------------------------------------*/
.sidebar {
    width: 250px; /* ширина фильтра */
    padding: 20px; /* внутренние отступы */
    background-color: #ffffff;
    border-right: 1px solid #ccc;
    min-height: 100vh; /* на всю высоту страницы */
    color: #121212;
    font-size: 12px;
    top: 0;
    overflow-y: scroll;



}

.category-len{
    padding-left: 7px;
}


.price-range {
    display: flex;         /* размещает поля мин макс в ряд */
    gap: 10px;             /* расстояние между полями */
    align-items: center;   /* выравнивание по вертикали */
    width: 270px;          /* фиксированная ширина */
    padding-bottom: 20px;

}

.price-range input {
    width: 65px; /* длина поля */

}

.price-head h4{
  width: 10px;
  height: 10px;
  background-color: black; /* или любой цвет */
  display: inline-block;
  margin-right: 8px; /* отступ справа, если перед текстом */
}


.product-list {    /* класс с сеткой товаров */
    flex-grow: 1;
    padding: 0px;
    width: 1268px;
    height: 1500px;


}
.card {
    width: 190px;
    height: 306px;
    margin: 1px;

}

.product-image {

    width: 190px;
    height: 210px;
    padding-top: 30px;
    padding-right: 3px;
    padding-bottom: 20px;
    padding-left: 3px;
}

.card-container d-flex flex-wrap{
    width: 100px;
    height: 140px;
}

.card-info h4{
    height: 60px;
    padding-left: 5px;
    color: #121212;
    font-size: 12px;
    white-space: normal;
    word-wrap: break-word;

}



.card-info p{
    padding-left: 10px;
    font-size: 12px;
    color: #121212;
    text-decoration: none !important;
}

/* СТИЛИ ДЛЯ DETAIL HTML--------------------------------------------------------------------------------------------------*/

.detail-image {
    width: 500px;
    height: 700px;
    position: relative; /* я родитель, можно что-то внутри меня*/
}
.detail-description {
    color: #121212;
}

.prev-btn {
    position: absolute;
    left: 25px;
    top: 380px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;

}
.btv-p{
    position: absolute;
    margin-bottom: 6px;
    margin-right: 4px;
}

.next-btn {
    position: absolute;
    left: 480px;
    top: 380px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btv-n {
    position: absolute;
    margin-bottom: 6px;
    margin-left: 4px;
}
/* СТИЛИ ДЛЯ REGISTER HTML--------------------------------------------------------------------------------------------------*/

